.wrapper {
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
}

.welcomingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 95vh;
  h1 {
    text-align: center;
  }
}
