@import "/src/app/index.scss";


.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.item:hover {
    color: $color-main-dark-80;
    transition: 0.3s;
}


