@import "/src/app/index.scss";
.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1560px;
    width: 512px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  
}

.item:hover {
  color: $color-main-dark-60;
  transition: 0.3s;
}


