.logo-container {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    width: 256px;
  }
  
  
  .logo-container.show {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    width: 256px;
  }