@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(0);
  }
}

.wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 38vh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
}
