@import "src/app/index.scss";

.Input {
    width: 280px;
    height: 30px;

    padding-left: 8px;

    background: none;

    border: 1px solid rgba(11, 9, 10, 0.6);
    border-radius: 5px;
    
    font-size: 17px;
}

.Input:focus {
    outline: 1px solid $main-color;
    border: 1px solid $main-color;
  }