.wrapper {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}


.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.imageContainer {
  width: 200px;
}

.image {
    filter: grayscale(70);
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    transition: all 0.5s ease;
    &:hover {
      filter: none !important;
    }
}



